pydantic
numpy
pandas
networkx
scikit-learn
streamlit
rich
fastapi
langchain-community
langchain-core
faiss-cpu
plotly
langgraph
langchain-anthropic
langchain-google-genai
langchain-huggingface
langchain-ollama
langchain-openai
yfinance
xgboost
